.nav-bar {
    width: 100%;
    background-color: #0c0749;
    height: 60px;
}

.nav-bar a {
    padding-left: 2%;
    font-size: 36px;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.nav-bar .subtitle {
    font-weight: normal;
    font-family: Arial, sans-serif;
}

.mid {
    text-align: center;
}

#app-icon {
    float: right;
    font-size:36px;
    padding-right: 10px;
    padding-top: 15px;
}

#logo {
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
}

#widget-box {
    background-color: lightblue;
    display: none;
}

body {
    padding: 0;
    margin: 0;
}

#map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #323232;
}
